body {
    color: rgb(126, 60, 213);
    background-color: rgb(62, 28, 107);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color: white;
    text-decoration: none   ;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 0%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

h2 {
   color: white;
   text-align: center;
}

p {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
    text-align: center;
}

footer {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
	margin-top: 50px;
    justify-content: center;
}

footer {
    display: flex;
    list-style-type: none;
    text-align: center;
	margin-top: 50px;
    justify-content: center;
}

footer {
    display: flex;
    list-style-type: none;
    text-align: center;
	margin-top: 50px;
    justify-content: center;
}


  
